@if (user | async; as user) {
  <ng-container>
    <nav class="px-6 mix-blend-normal" [ngClass] = "bgColors">
      <div class="flex flex-wrap justify-between items-center">
        <div class="flex items-center space-x-4">
          <figure class="w-20">
            <a class="flex" routerLink="/">
              <img
                class="h-6"
                [src]="logo"
                alt="logo trello"
              />
              <span class="font-bold">Tasky</span>
            </a>
          </figure>
          <div class="flex items-center">
            <ul
              class="flex items-center space-x-2 text-sm font-semibold"
              [ngClass] = "bgColors"
            >
              <li class="p-2">
                <a
                  href="#"
                  class="py-1 px-2 rounded flex items-center space-x-1"
                  [ngClass] = "hover"
                >
                  <span>Espacios de trabajo</span>
                  <fa-icon [ngClass] = "hover" [icon]="faChevronDown"></fa-icon>
                </a>
              </li>
              <li class="p-2">
                <a
                  href="#"
                  class="py-1 px-2 rounded flex items-center space-x-1"
                  [ngClass] = "hover"
                >
                  <span>Reciente</span>
                  <fa-icon [ngClass] = "hover" [icon]="faChevronDown"></fa-icon>
                </a>
              </li>
              <li class="p-2">
                <a
                  href="#"
                  class="py-1 px-2 rounded flex items-center space-x-1"
                  [ngClass] = "hover"
                >
                  <span>Marcado</span>
                  <fa-icon [ngClass] = "hover" [icon]="faChevronDown"></fa-icon>
                </a>
              </li>
              <li class="p-2">
                <a
                  href="#"
                  class="py-1 px-2 rounded flex items-center space-x-1"
                  [ngClass] = "hover"
                >
                  <span>Plantillas</span>
                  <fa-icon [ngClass] = "hover" [icon]="faChevronDown"></fa-icon>
                </a>
              </li>
              <li class="p-1">
                <app-btn typeBtn="button" [color]="bgColor()"
                  cdkOverlayOrigin
                  #createBoardOverlay = "cdkOverlayOrigin"
                  (click)="isOpenOverlayCreateBoard = !isOpenOverlayCreateBoard">
                  <span>Crear</span>
                </app-btn>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex items-center space-x-4">
          <button type="button">
            <fa-icon [ngClass]="hover" [icon]="faBell" class="p-1 rounded-full"></fa-icon>
          </button>
          <button>
            <fa-icon [ngClass]="hover" [icon]="faCircleQuestion" class="p-1 rounded-full"></fa-icon>
          </button>
          <button
            type="button"
            class="flex rounded-full"
            aria-expanded="false"
            (click)="isOpenOverlayAvatarMenu = !isOpenOverlayAvatarMenu"
            cdkOverlayOrigin
            #menuOverlay="cdkOverlayOrigin"
          >
            <img
              class="w-6 h-6 rounded-full"
              src="https://picsum.photos/400/400"
              alt="user photo"
            />
          </button>
        </div>
      </div>
    </nav>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="menuOverlay"
      [cdkConnectedOverlayOpen]="isOpenOverlayAvatarMenu"
      (overlayOutsideClick)="isOpenOverlayAvatarMenu = !isOpenOverlayAvatarMenu"
    >
      <section class="bg-white flex flex-col items-start divide-y divide-gray-300 w-80 rounded shadow-lg mt-4 py-3 px-4 border border-gray-200 text-blue-950">
        <div class="flex flex-col space-y-4 w-full py-3 px-4">
          <span class="font-bold text-gray-500 text-xs my-2">CUENTA</span>
          <div class="flex flex-col space-y-4">
            <header class="flex space-x-4">
              <figure class="w-12 h-12">
                <img class="rounded-full" src="https://picsum.photos/400/400" alt="user photo">
              </figure>
              <div class="flex flex-col">
                <p class="text-base">{{ user?.name }}</p>
                <p class="text-sm text-gray-600">{{ user?.email }}</p>
              </div>
            </header>
            <div>
              <ul class="flex flex-col space-y-4 text-sm">
                <li>
                  <a href="#" class="block">Cambiar cuentas</a>
                </li>
                <li>
                  <a href="#" class="flex items-center justify-between">
                    <span>Gestionar cuenta</span>
                    <fa-icon class="text-gray-600" [icon]="faArrowUpRightFromSquare"></fa-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="py-3 px-4 w-full">
          <span class="font-bold text-gray-500 text-xs my-2">TASKY</span>
          <div class="pt-3">
            <ul class="flex flex-col space-y-4 text-sm">
              <li>
                <a href="#" class="block">Perfil y visibilidad</a>
              </li>
              <li>
                <a href="#" class="block">Actividad</a>
              </li>
              <li>
                <a href="#" class="block">Tarjetas</a>
              </li>
              <li>
                <a href="#" class="block">Ajustes</a>
              </li>
              <li>
                <a href="#" class="flex items-center justify-between">
                  <span>Tema</span>
                  <fa-icon class="text-gray-600" [icon]="faChevronRight"></fa-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="py-3 px-4 w-full">
          <ul class="flex flex-col space-y-4 text-sm">
            <li>
              <a href="#" class="flex items-center space-x-2">
                <img src="/assets/icons/svg/team-icon.svg" alt="workspace" class="w-5 h-5">
                <span>Crear Espacio de trabajo</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="py-3 px-4 w-full">
          <ul class="flex flex-col space-y-4 text-sm">
            <li>
              <a href="#" class="block">Ayuda</a>
            </li>
            <li>
              <a href="#" class="block">Accesos directos</a>
            </li>
          </ul>
        </div>
        <div class="py-3 px-4 w-full">
          <ul class="text-sm">
            <li>
              <button (click)="logOut()" class="block">Cerrar sesión</button>
            </li>
          </ul>
        </div>
      </section>
    </ng-template>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="createBoardOverlay"
      [cdkConnectedOverlayOpen]="isOpenOverlayCreateBoard"
      (overlayOutsideClick)="isOpenOverlayCreateBoard = !isOpenOverlayCreateBoard">
      <section class="bg-white flex flex-col items-start w-80 rounded
        shadow-lg mt-4 py-3 px-4 border border-gray-200 text-blue-950">
        <header class="w-full text-center relative">
          <span class="font-semibold text-gray-600 text-sm my-2">Crear tablero</span>
          <button (click)="isOpenOverlayCreateBoard = !isOpenOverlayCreateBoard"
            class="block text-sm text-gray-900 absolute right-3 top-1">
            <fa-icon [icon]="faClose"></fa-icon>
          </button>
        </header>
        <div class="w-full">
          <app-board-form (closeOverlay)="close($event)"></app-board-form>
        </div>
      </section>
    </ng-template>
  </ng-container>
}
