<main class="w-screen h-screen bg-white relative">
  <app-background></app-background>
  <section class="relative w-10/12 md:w-5/12 lg:w-3/12 m-auto">
    <app-header></app-header>
    <div class="pb-4 px-6">
      <div class="mb-4">
        <h1 class="text-center font-semibold pt-4 pb-4 text-gray-800">
          Inicia sesión para continuar
        </h1>
        <form nonvalidate class="space-y-4">
          <div class="relative">
            <input
              placeholder="Introduce tu correo electrónico"
              type="text"
              class="w-full rounded border-2 border-gray-300"
            />
          </div>
          <div>
            <app-btn [typeBtn]="'submit'" [color]="'primary'">Continuar</app-btn>
          </div>
        </form>
        <div class="space-y-4 pt-4">
          <h3 class="text-sm font-medium text-center text-gray-500">O continúa con:</h3>
          <div class="space-y-4 text-gray-800">
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7">
                <img src="/assets/icons/svg/google-tile.svg" alt="Google">
              </figure>
              <p>Google</p>
            </button>
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7 p-1">
                <img src="/assets/icons/svg/microsoft-icon.svg" alt="Microsoft">
              </figure>
            <p>Microsft</p>
            </button>
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7 p-1">
                <img src="/assets/icons/svg/apple-icon.svg" alt="Apple">
              </figure>
              <p>Apple</p>
            </button>
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7 p-1">
                <img src="/assets/icons/svg/slack-icon.svg" alt="Slack">
              </figure>
              <p>Slack</p>
            </button>
          </div>
        </div>
      </div>
      <div>
        <ul class="flex space-x-2 justify-center text-center">
          <li>
            <a routerLink="/forgot-password" class="text-sm text-blue-600 hover:underline">¿No puedes iniciar sesión?</a>
          </li>
          <p class="text-gray-600">•</p>
          <li>
            <a href="#" class="text-sm text-blue-600 hover:underline">Crear una cuenta</a>
          </li>
        </ul>
      </div>
    </div>
    <app-footer></app-footer>
  </section>
</main>
