<main class="w-screen h-screen bg-white relative">
  <app-background></app-background>
  <section class="relative w-10/12 md:w-5/12 lg:w-3/12 m-auto">
    <app-header></app-header>
    <div class="pb-4 px-6">
      <div class="mb-4">
        <h1 class="text-center font-semibold pt-4 pb-4 text-gray-800">
          Inicia sesión para continuar
        </h1>
        @if (!showLogin()) {
          <form [formGroup]="formUser" novalidate class="space-y-4" (ngSubmit)="validateUser()">
            <div>
              <div class="relative">
                <input
                  formControlName="email"
                  placeholder="Introduce tu correo electrónico"
                  type="text"
                  class="w-full rounded border-2 border-gray-300 text-sm"
                />
              </div>
              @if (formUser.controls.email.touched && formUser.controls.email.invalid) {
                <div>
                  @if (formUser.controls.email.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                      Este campo es obligatorio
                    </p>
                  } @else if (formUser.controls.email.hasError('email')){
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                      Ingrese un correo valido
                    </p>
                  }
                </div>
              }
            </div>
            <div>
              <app-btn typeBtn="submit" color="primary">Continuar</app-btn>
            </div>
          </form>
        } @else {
          <form [formGroup]="form" class="space-y-4" (ngSubmit)="doLogin()">
            <div>
              <div class="relative">
                <input
                  #nameInput
                  formControlName="email"
                  placeholder="Introduce tu correo electrónico"
                  type="text"
                  class="w-full rounded border-2 border-gray-300 text-sm"
                />
                <button type="button" class="p-2 absolute right-2" (click)="nameInput.focus()">
                  <fa-icon [icon]="faPen"></fa-icon>
                </button>
              </div>
              @if (form.controls.email.touched && form.controls.email.invalid) {
                <div>
                  @if (form.controls.email.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                      Este campo es obligatorio
                    </p>
                  } @else if (form.controls.email.hasError('email')){
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                      Debes ingresar un correo valido
                    </p>
                  }
                </div>
              }
            </div>
            <div>
              <div class="relative">
                <input
                  formControlName="password"
                  placeholder="Introduce tu contraseña"
                  [type]="showPassword() ? 'text' : 'password'"
                  class="w-full rounded border-2 border-gray-300 text-sm"
                />
                <button class="absolute right-2 p-2" type="button" (click)="showPassword.set(!showPassword())">
                  <fa-icon [icon]="showPassword() ? faEye : faEyeSlash"></fa-icon>
                </button>
              </div>
              @if (form.controls.password.touched && form.controls.password.invalid) {
                <div>
                  @if (form.controls.password.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                      Este campo es obligatorio
                    </p>
                  } @else if (form.controls.password.hasError('minlength')){
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                      La contraseña debe ser de 6 caracteres minimo
                    </p>
                  }
                </div>
              }
            </div>
            @if (status() === 'failed') {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Las credenciales son invalidas
              </p>
            }
            <div>
              <app-btn typeBtn="submit" color="primary">Iniciar sesión</app-btn>
            </div>
          </form>
        }
        <div class="space-y-4 pt-4">
          <h3 class="text-sm font-medium text-center text-gray-500">O continúa con:</h3>
          <div class="space-y-4 text-gray-800">
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7">
                <img src="/assets/icons/svg/google-tile.svg" alt="Google">
              </figure>
              <p>Google</p>
            </button>
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7 p-1">
                <img src="/assets/icons/svg/microsoft-icon.svg" alt="Microsoft">
              </figure>
            <p>Microsft</p>
            </button>
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7 p-1">
                <img src="/assets/icons/svg/apple-icon.svg" alt="Apple">
              </figure>
              <p>Apple</p>
            </button>
            <button class="font-bold w-full rounded border border-gray-400 px-5 py-1 flex justify-center items-center space-x-2">
              <figure class="w-7 p-1">
                <img src="/assets/icons/svg/slack-icon.svg" alt="Slack">
              </figure>
              <p>Slack</p>
            </button>
          </div>
        </div>
      </div>
      <div>
        <ul class="flex space-x-2 justify-center text-center">
          <li>
            <a routerLink="/forgot-password" class="text-sm text-blue-600 hover:underline">¿No puedes iniciar sesión?</a>
          </li>
          <p class="text-gray-600">•</p>
          <li>
            <a routerLink="/register" class="text-sm text-blue-600 hover:underline">Crear una cuenta</a>
          </li>
        </ul>
      </div>
    </div>
    <app-footer></app-footer>
  </section>
</main>
