<main class="p-6 bg-gray-100 relative rounded-xl shadow flex w-full">
  <button (click)="close()" type="button" class="absolute top-3 right-3 focus:outline-none p-2">
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
  <section class="w-4/5 pr-4">
    <section class="flex flex-col mb-5 w-full">
      <div class="flex space-x-1">
        <fa-icon class="text-gray-800" [icon]="faPager"></fa-icon>
        <div class="flex flex-col w-full">
          <div class="text-lg font-semibold text-gray-800"
            (click)="updateEditingMode(true)"
            >
            @if (editingModeTitle) {
              <input class="p-0 m-0 text-lg rounded border-none focus:ring-blue-500 focus:ring w-full pl-2" type="text"
                [value]="card.title"
                (keydown.enter)="updateTitle($event)">
            } @else{
              <p class="pl-2">{{ card.title }}</p>
            }
          </div>
          <p class="text-sm text-gray-500">en la lista {{ listName }} </p>
        </div>
      </div>
      <div class="flex flex-col space-y-2 my-4 pl-6">
        <p class="text-xs text-gray-600 font-semibold">Notificaciones</p>
        <button class="bg-gray-200 px-3 py-1 rounded-md flex space-x-2 text-sm text-gray-700 w-fit">
          <fa-icon [icon]="faEye"></fa-icon>
          <span class="font-semibold">Seguir</span>
        </button>
      </div>
    </section>
    <section class="flex w-full gap-4">
      <div class="flex space-x-2 mb-5 w-full">
        <fa-icon class="text-gray-800" [icon]="faBars"></fa-icon>
        <div class="flex flex-col w-full space-y-2">
          <div class="flex justify-between">
            <h3 class="text-lg font-semibold text-gray-800">Descripción</h3>
            @if (!editingModeDescription && card.description !== '') {
              <app-btn typeBtn="button" color="grayLight" (click)="updateEditingModeDescription(true)">
                <span class="text-sm">Editar</span>
              </app-btn>
            }
          </div>

          @if (editingModeDescription) {
            <textarea class="w-full rounded resize-none" rows="8" placeholder="Escribe aquí"
                    [value]="card.description" [formControl]="description"></textarea>
            <div class="flex space-x-1">
              <app-btn (click)="updateDescription()" typeBtn="button" color="primary">
                <span class="text-sm">Guardar</span>
              </app-btn>
              <app-btn (click)="updateEditingModeDescription(false)" typeBtn="button" color="grayLight">
                <span class="text-sm">Cancelar</span>
              </app-btn>
            </div>
          } @else if (!card.description || card.description === '') {
            <button
                class="w-full flex justify-start bg-gray-200 hover:bg-gray-300 px-2 pt-2 pb-8 rounded"
                (click)="updateEditingModeDescription(true)"
              >
                <p class="text-sm font-semibold text-gray-700">Añadir una descripción más detallada...</p>
              </button>
          } @else {
            <p class="text-sm text-gray-500 cursor-pointer"
              (click)="updateEditingModeDescription(true)">
              {{ card.description }}
            </p>
          }
        </div>
      </div>
    </section>
  </section>
  <aside class="flex flex-auto space-y-2 flex-col w-1/5 mt-8">
    <p class="text-xs text-gray-500 font-semibold">Añadir a la tarjeta</p>
    <app-btn typeBtn="button" color="grayLight">
      <div class="flex space-x-2 justify-start items-center">
        <fa-icon class="text-gray-600 text-xs" [icon]="faUser"></fa-icon>
        <span class="text-sm">Miembros</span>
      </div>
    </app-btn>
    <app-btn typeBtn="button" color="grayLight">
      <div class="flex space-x-2 justify-start items-center">
        <fa-icon class="text-gray-600 text-xs" [icon]="faTag"></fa-icon>
        <span class="text-sm">Etiquetas</span>
      </div>
    </app-btn>
    <app-btn typeBtn="button" color="grayLight">
      <div class="flex space-x-2 justify-start items-center">
        <fa-icon class="text-gray-600 text-xs" [icon]="faCheckSquare"></fa-icon>
        <span class="text-sm">Cheklist</span>
      </div>
    </app-btn>
    <app-btn typeBtn="button" color="grayLight">
      <div class="flex space-x-2 justify-start items-center">
        <fa-icon class="text-gray-600 text-xs" [icon]="faClock"></fa-icon>
        <span class="text-sm">Fechas</span>
      </div>
    </app-btn>
    <app-btn typeBtn="button" color="grayLight">
      <div class="flex space-x-2 justify-start items-center">
        <fa-icon class="text-gray-600 text-xs" [icon]="faPaperclip"></fa-icon>
        <span class="text-sm">Adjunto</span>
      </div>
    </app-btn>
    <app-btn typeBtn="button" color="grayLight">
      <div class="flex space-x-2 justify-start items-center">
        <fa-icon class="text-gray-600 text-xs" [icon]="faHardDrive"></fa-icon>
        <span class="text-sm">Portada</span>
      </div>
    </app-btn>
    <app-btn typeBtn="button" color="grayLight">
      <div class="flex space-x-2 justify-start items-center text-left">
        <fa-icon class="text-gray-600 text-xs" [icon]="faPenRuler"></fa-icon>
        <span class="text-sm">Campos personalizados</span>
      </div>
    </app-btn>
  </aside>
</main>
