<div class="border border-gray-300 mx-6"></div>
<footer class="flex flex-col items-center pt-4 pb-4 mt-2 text-xs space-y-2">
  <p class="text-xl text-gray-600 font-semibold">TASKY | TRELLO CLONE</p>
  <p class="text-gray-800">Una cuenta para Tasky, un clone de
    <a href="https://trello.com/" target="_blank" class="text-blue-600 hover:underline">Trello</a>.
  </p>
  <ul class="flex space-x-2 justify-center text-gray-800">
    <li>
      <a href="#" class="hover:underline">Política de privacidad</a>
    </li>
    <p class="text-gray-600">•</p>
    <li>
      <a href="#" class="hover:underline">Aviso de usuario</a>
    </li>
  </ul>
  <p class="text-[10px] text-gray-600 text-center">
    Este es un clon inspirado en Trello. No está afiliado con Trello y se
    utiliza únicamente con fines personales y de aprendizaje.
  </p>
</footer>
